.nav_logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
}
.navbar_header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.nav_container {
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn_container {
  display: flex;
  width: 10rem;
  justify-content: space-between;
}

.navbar_search_con {
  display: flex;
  width: 24rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar_search {
  width: 100%;
  padding-left: 3rem;
  height: 100%;
  outline: none;
  border: 0px;
  background-color: var(--navbar_search_color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
}

.navbar_search:focus {
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navbar_search_btn {
  position: absolute;
  left: 10px;
}

.hamburger {
  margin-right: 10px;
}

.hamburger_entering {
  transition: all 0.1s ease-in;
  transform: translateX(-80vw);
}

.hamburger_entered {
  opacity: 1;
  transition: all 0.8s ease-in;
  transform: translateX(0rem);
}

.hamburger_exiting {
  transition: all 1s ease-in;
  transform: translateX(-90vw);
}

.hamburger_exited {
  opacity: 0;
  transition: all 1s ease-in;
}

.hamburger_nav {
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;

  background-color: var(--hamburger_color);
  z-index: 10;
  border-radius: 0px 10px 10px 0px;
  /* position: relative; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.hamburger_plant_gif {
  position: absolute;
  bottom: 1rem;
}

.hamburger_nav_close_btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4%;
  left: 93%;
  width: 4rem;
  height: 4rem;
  color: black;
  border-radius: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--hamburger_color);
}

.hamburger_nav_list {
  display: flex;
  align-items: center;
  width: 90%;
  height: 3rem;
  margin: 0 auto;
  gap: 10px;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hamburger_nav_list:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s;
}

.hamburger_nav_list_con {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav_user_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}

@media screen and (max-width: 800px) {
  .nav_logo {
    font-size: 1rem;
  }
  .navbar_search_con {
    width: 100%;
  }
  .nav_container {
    padding: 1rem 1.5rem;
  }
}
