.text-xs {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.text-vs {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 10px;
}

.text-sm {
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 1.3rem;
}


.category-heading
{
    font-size: 1.4rem;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    letter-spacing: 1.2px;
    
}
.category-paragraph
{
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    letter-spacing: 1.3px;
     
}
.text-btn {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.text-base {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.sub-header {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Russo One', sans-serif;
    margin: 1rem 0;
}

.headline {
    font-size: 2.4rem;
    font-weight: bolder;
    letter-spacing: 1.7px;
}