:root {
  --navbar_search_color: #f6faef;
  --hamburger_color: #ffffff;
  --banner_btn_color: #ffffff;
  --banner_btn_hover: #f6faef;
  --button_hover_color: #cdd5e0;
  --boxshadow_var: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --hover_box_shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
