.category_chip:hover {
  background-color: var(--button_hover_color);
  transition: 0.2s;
}

.category_chip_container {
  display: flex;
  gap: 20px;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow-x: scroll;
  margin-right: 0.3rem;
}
