.profile_page_con {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 24rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  margin: 3rem auto;
  padding: 3rem 0rem;
  gap: 20px;
}

.profile_text {
  font-size: 1rem;
  font-weight: bolder;
}
