.modal_background {
  /* background-color: var(--modal_background_color); */
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11;
}
.modal_background .modal_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0.3rem 0.7rem;
  background-color: whitesmoke;
  border-radius: 10px;
  opacity: 1;
  width: 28rem;
  box-shadow: var(--boxshadow_var);
}
.modal_header {
  display: flex;
  justify-content: space-between;
}
.modal_header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_action_btn_con {
  width: 94%;
  display: flex;
  justify-content: flex-end;
}
.modal_action_btn {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.modal_entering {
  transition: all 0.1s ease-in;
  transform: translateY(-70vh);
  opacity: 0.3;
}
.madal_entered {
  opacity: 1;
  transition: all 0.8s ease-in;
  transform: translateY(50vh);
}
.modal_exiting {
  transition: all 1s ease-in;
  opacity: 0;
  transform: translateY(20vh);
}
.modal_exited {
  opacity: 0.5;
  transition: all 1s ease-in;
}

/* playlist styles */

.playlist_modal_content {
  position: fixed;
  width: 23rem;
  min-height: 18rem;
  top: 20%;
  left: 40%;
  background-color: var(--modal-color);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: var(--boxshadow_var);
}
.playlist_modal_content_desc {
  min-height: 14rem;
  max-height: 14rem;
  overflow-y: scroll;
}
@media screen and (max-width: 849px) {
  .playlist_modal_content {
    left: 30%;
  }
}
@media screen and (max-width: 446px) {
  .playlist_modal_content {
    left: 10%;
  }
}
@media screen and (max-width: 371px) {
  .playlist_modal_content {
    left: 8%;
  }
}
